# **Data Cleaning Notebook**

## Objectives

* Evaluate missing data
* Clean data

## Inputs

* outputs/datasets/collection/BTCDaily.csv 

## Outputs

* Generate cleaned Train and Test sets, both saved under outputs/datasets/cleaned 

## Conclusions

* In case you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/bitcoin-forecast/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/bitcoin-forecast'

# Load data

In [4]:
import pandas as pd
df = (pd.read_csv("outputs/datasets/collection/BTCDaily.csv"))
df.head()

         date    open    high     low   close  Volume BTC  Volume USD
0  2014-11-28  363.59  381.34  360.57  376.28  3220878.18     8617.15
1  2014-11-29  376.42  386.60  372.25  376.72  2746157.05     7245.19
2  2014-11-30  376.57  381.99  373.32  373.34  1145566.61     3046.33
3  2014-12-01  376.40  382.31  373.03  378.39  2520662.37     6660.56
4  2014-12-02  378.39  382.86  375.23  379.25  2593576.46     6832.53

Convert the 'date' variable to datetime format and set it as the index

In [7]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df.info()
df.set_index('date', inplace=True)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2651 entries, 0 to 2650
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        2651 non-null   datetime64[ns]
 1   open        2651 non-null   float64
 2   high        2651 non-null   float64
 3   low         2651 non-null   float64
 4   close       2651 non-null   float64
 5   Volume BTC  2651 non-null   float64
 6   Volume USD  2651 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 145.1 KB

              open    high     low   close  Volume BTC  Volume USD
date
2014-11-28  363.59  381.34  360.57  376.28  3220878.18     8617.15
2014-11-29  376.42  386.60  372.25  376.72  2746157.05     7245.19
2014-11-30  376.57  381.99  373.32  373.34  1145566.61     3046.33
2014-12-01  376.40  382.31  373.03  378.39  2520662.37     6660.56
2014-12-02  378.39  382.86  375.23  379.25  2593576.46     6832.53

# Data Exploration

In [8]:
df.describe()

,open,high,low,close,Volume BTC,Volume USD
count,2651.000000,2651.000000,2651.000000,2651.000000,2.651000e+03,2.651000e+03
mean,11693.189332,12038.562912,11296.539461,11709.326213,1.330041e+07,6.099369e+07
std,16272.554746,16739.237000,15718.297511,16282.908704,4.715366e+07,1.072838e+08
min,162.000000,212.840000,152.400000,162.000000,0.000000e+00,0.000000e+00
25%,654.680000,664.460000,640.050000,654.370000,5.357883e+03,9.516170e+03
50%,6408.950000,6540.000000,6312.000000,6407.770000,1.503310e+04,2.288982e+07
75%,10708.620000,10956.240000,10303.755000,10726.425000,3.435336e+06,8.018383e+07
max,67547.490000,69000.000000,66250.000000,67559.000000,7.723295e+08,1.446125e+09

# Push files to Repo

* In case you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create here your folder
  # os.makedirs(name='')
except Exception as e:
  print(e)